<!-- sections/api-product-grid-item.liquid -->

<div data-api-content>
  {% render 'product-grid-item' %}
</div>

.card__media {
  display: flex;
  align-items: flex-start; /* força topo */
}

.card__media img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.card__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}